.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  color: var(--black-2);
  margin-bottom: 28px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.item {
  border-radius: 32px;
  width: 327px;
  background-color: var(--white);
  padding: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.img {
  width: 93px;
  height: 93px;
}

.boxTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
  color: var(--black-2);
}

.boxText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: var(--black-1);
}
