.header {
  width: 375px;
  padding: 11px 24px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .header {
    width: 768px;
    height: 54px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .header {
    width: 1440px;
    height: 60px;
  }
}
